---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import ThemeToggle from "../components/ThemeToggle.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);

const BASE_URL = Astro.url.origin;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="flex justify-between">
      <div class="text-xl py-1">Hey there 👋</div>
      <ThemeToggle />
    </div>
    <div class="text-5xl font-bold">I'm Talisma Manuel</div>
    <div class="text-3xl py-3 font-bold">Embedded Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my little world, It's a regular guy who loves programming, my
        profile is all about what i'am learning in my dialy researches. I'm
        focused on embedded systems programming & electronic.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn text-[--color-green-200]"
        href="http://linkedin.com/in/talisma-manuel-88ba571b2/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="flex items-center gap-1 text-3xl w-full font-bold mb-2">
      Top 3 projects
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#00B37E"
        ><path
          d="M240-40v-329L110-580l185-300h370l185 300-130 211v329l-240-80-240 80Zm80-111 160-53 160 53v-129H320v129Zm20-649L204-580l136 220h280l136-220-136-220H340Zm98 383L296-558l57-57 85 85 169-170 57 56-226 227ZM320-280h320-320Z"
        ></path></svg
      >
    </div>
  </div>
  <HorizontalCard
    title="AI plant assistent"
    previewImage="/plant_disease_detection_proj_preview.webp"
    postImage="/plant_disease_detection_proj_thumb.webp"
    desc="From train to autameted deploy, An E2E strategy for training and deploying plant disease detection AI models."
    url="/blog/building-my-ai-plant-assistant-an-e2e-journey"
    badge="Mobile & Machine Learning"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Underwater drone vision system"
    previewImage="/doceanlab_proj_preview.webp"
    postImage="/doceanlab_proj_thumb.webp"
    desc="D≈OceanLab is a underwater drone for Research purposes, it films and recognizes marine species using deep learning"
    url="https://github.com/talisma-cassoma/UnderWaterDrone-D-OceanLab"
    badge="End-To-End CV System"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PCB defects recognition"
    previewImage="/pcb_defects_recognition_proj_preview.webp"
    postImage="/pcb_defects_recognition_proj_thumb.webp"
    desc="A PCB Defect Recognition System designed to assist PCB manufacturing companies in automating the detection of defects in printed circuit boards. Using computer vision and deep learning."
    url="https://github.com/talisma-cassoma/pcb-components-detection-recognition"
    badge="End-To-End CV System"
  />
  <div>
    <div class="flex items-center gap-1 text-3xl w-full font-bold mb-5 mt-10">
      Latest from blog
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#00B37E"
        ><path
          d="m580-512-60-34v-68l60-34 60 34v68l-60 34Zm0 92 140-80v-160l-140-80-140 80v160l140 80Zm-72 220h224q-7 26-24 42t-44 20L228-85q-33 5-59.5-15.5T138-154L85-591q-4-33 16-59t53-30l46-6v80l-36 5 54 437 290-36Zm-148-80q-33 0-56.5-23.5T280-360v-440q0-33 23.5-56.5T360-880h440q33 0 56.5 23.5T880-800v440q0 33-23.5 56.5T800-280H360Zm0-80h440v-440H360v440Zm220-220ZM218-164Z"
        ></path></svg
      >
    </div>
  </div>

  {
    last_posts.map((post) => {
      const { title, heroImage, description, badge } = post.data;
  
      return (
        <>
          <HorizontalCard
            title={title}
            previewImage={(heroImage ?? "").replace(/_thumb\.webp$/, '_preview.webp')}
            postImage={heroImage}
            desc={description}
            url={"/blog/" + createSlug(title, post.slug)}
            target="_self"
            badge={badge}
          />
          <div class="divider my-0" />
        </>
      );
    })
  }
  
</BaseLayout>
