---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Highly motivated and skilled professional with expertise in software architecture, embedded systems, and artificial intelligence. Proven ability to develop innovative solutions, particularly in the areas of smart agriculture and robotics. Strong background in both hardware and software development, with contributions to open-source projects. Fluent in Portuguese, French, and English.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Smart Agriculture: Robotique et traitement intelligent des données via intelligence artificielle"
      subtitle="Ongoing at University Abdelmalek Essaadi"
    />
    <TimeLineElement
      title="Master’s in Embedded Electronics & Telecommunications Systems"
      subtitle="2021 at University Ibn Tofail"
    />
    <TimeLineElement
      title="Bachelor’s in Industrial Maintenance"
      subtitle="2019 at University Mohammed Premier"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ph.D. Student in Smart Agriculture"
      subtitle="Ongoing"
    >
      <ul>
        <li>Developed an end-to-end deep learning solution for accurately classifying and segmenting diseased leaves.</li>
        <li>Deployed and integrated models to extract infected regions and assess disease severity.</li>
        <li>Designed a user-friendly mobile application for on-site disease identification.</li>
        <li class="mb-5"><b>Stack:</b> Python, C++, ReactJs, React-Native</li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Full Stack Developer at INTELLCAP Corps"
      subtitle="2021 - 2023" 
    >
      <ul>
        <li>Developed the vision system for an underwater drone.</li>
        <li>Established the software architecture for the drone’s 3D simulation system.</li>
        <li>Led the construction, testing, and deployment of new drone features.</li>
        <li class="mb-5"><b>Stack:</b> Docker, Python, Gazebo, ROS, YOLOv5</li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Trainee Embedded SW Developer at ONCF Morocco"
      subtitle="2018 - 2019"
    >
      <ul>
        <li>Developed a detection system for monitoring minor wheel slippage in trains.</li>
        <li class="mb-5"><b>Stack:</b> Arduino, C++</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/19E6tUIfYC4WZ2LtFnszwnxnvGTMdpZQ8/view?usp=share_link" target="_blank">Electric and electrical tool safety by SNAPON</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://app.rocketseat.com.br/certificates/c120ec7e-3916-4cb4-b1b9-cfff03d74403" target="_blank">NLW AI by Rocketseat</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://app.rocketseat.com.br/certificates/300f5917-952c-4f58-91cf-b9593fdc852d" target="_blank">AI for Devs by Rocketseat</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://app.rocketseat.com.br/certificates/a5c2f9d9-f688-472a-851c-01cc55d9d4e5" target="_blank">NLW Expert-React Native by Rocketseat</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/1wSvbTpxuPoyeDcF8wZnXen4PplrbtFj3/view?usp=share_link" target="_blank">JS-EXPERT by ew.it</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/1ncWJeX0K0MxqwsIQveeV0_IIc9E-omoW/view?usp=sharing" target="_blank">Initiation à la plateforme de calcul HPC-MARWAN by the Centre Nationale de Recherche Scientifique et Technique</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/19E6tUIfYC4WZ2LtFnszwnxnvGTMdpZQ8/view?usp=share_link" target="_blank">Solus-pro-international by SNAPON</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/19E6tUIfYC4WZ2LtFnszwnxnvGTMdpZQ8/view?usp=share_link" target="_blank">Scanner certification by SNAPON</a>
    </li>
    <li class="hover:text-blue-400">
      <a href="https://drive.google.com/file/d/19E6tUIfYC4WZ2LtFnszwnxnvGTMdpZQ8/view?usp=share_link" target="_blank">Electrical-safety-test by SNAPON</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-1 mx-6">
    <li>Expertise in software architecture</li>
    <li>Extensive development experience with C++ and Python</li>
    <li>Proficient in software architectural principles and microservices</li>
    <li>Experience with event-driven architectures (Apache Kafka)</li>
    <li>Strong focus on developing distributed software systems</li>
    <li>Solid grasp of DevOps and SRE best practices, including CI/CD pipeline creation using Docker</li>
    <li>Advanced debugging skills in Python and C++</li>
    <li>Deep background in electronics</li>
    <li>Hands-on experience in computer vision, machine learning, and deep learning, with contributions to open-source projects on GitHub</li>
    <li>Experience with ReactJs, React-Native</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li>Portuguese: Native (fluent in speaking and writing)</li>
    <li>French: Fluent (in speaking and writing)</li>
    <li>English: Fluent</li>
  </ul>
</BaseLayout>