---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HorizontalCard from "@/components/HorizontalCard.astro";
import ProjectsCards from "@/components/ProjectsCards.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import createSlug from "@/lib/createSlug";
import EmojiHero from "@/components/EmojiHero.astro";
import GithubIcon from "@/components/GithubIcon.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const last_posts = posts.slice(0, 3);
const BASE_URL = Astro.url.origin;
---

<BaseLayout sideBarActiveItemID="home" class="grid items-center">
  <!-- Hero -->
  <section
    class="flex min-h-[90svh] flex-col items-center justify-center
           gap-5 py-12 animate-hero-stagger
           md:min-h-screen md:py-20"
  >
    <p class="text-lg sm:text-xl">Hey there 👋</p>

    <h1
      class="text-center text-3xl font-bold
             sm:text-4xl
             md:text-5xl"
    >
      I'm Talisma Manuel
    </h1>

    <h2
      class="text-center text-4xl font-bold text-emerald-600
             sm:text-5xl
             md:text-6xl"
    >
      Software Engineer
    </h2>

    <p
      class="max-w-2xl text-center text-base leading-relaxed
             text-foreground-muted
             sm:text-lg"
    >
      Welcome to my personal space! I'm a developer passionate about
      programming, electronics, and embedded systems. Here I share my daily
      learnings, research and hands-on projects.
    </p>

    <EmojiHero />

    <div
      class="flex w-full flex-col gap-4 items-center
             sm:w-auto sm:flex-row sm:justify-center"
    >
      <a
        href="/blog"
        class="btn w-full bg-[--color-green-200] border-2 text-white hover:bg-emerald-500
               max-w-56
               sm:w-48"
      >
        View Blogs
        <Icon name="tabler:arrow-narrow-right" class="h-5 w-5" />
      </a>

      <a
        href="http://linkedin.com/in/talisma-manuel-88ba571b2/"
        target="_blank"
        class="flex h-10 w-full items-center justify-center gap-2 rounded-md
               hover:text-emerald-500
               sm:w-48"
      >
        Let's connect!
        <Icon name="mdi:linkedin" class="h-5 w-5" />
      </a>
    </div>
  </section>

  <!-- Projects -->
  <section class="my-20 flex flex-col gap-10">
    <div class="flex items-center justify-center gap-2">
      <h2 class="text-center text-2xl font-bold
               sm:text-3xl">
        My Personal Open Source Projects
      </h2>

      <GithubIcon />
    </div>

    <ProjectsCards />
  </section>

  <!-- CV -->
  <section
    class="mx-auto my-20 flex max-w-xl flex-col items-center
           gap-6 text-center"
  >
    <h2 class="text-2xl font-bold
             sm:text-3xl">Check my CV</h2>

    <p
      class="leading-relaxed text-foreground-muted tracking-tight md:tracking-wide"
    >
      While my core focus is software development, my background includes
      technical assistance and leading logistics call center teams, delivered
      seamlessly across four languages:

      <!-- Wrapper container built to live inside a paragraph tag -->
      <span class="inline-flex flex-wrap gap-2 mt-1.2 ml-1 align-middle ">
        <span
          class="rounded-3xl border-2 border-emerald-500 hover:bg-emerald-500 hover:text-white px-3 py-1 text-xs opacity-75 sm:text-sm "
          >portuguese</span
        >
      </span>
      <span class="inline-flex flex-wrap gap-2 mt-1.5 ml-1 align-middle ">
        <span
          class="rounded-3xl border-2 border-emerald-500 hover:bg-emerald-500 hover:text-white px-3 py-1 text-xs opacity-75 sm:text-sm "
          >english</span
        >
        <span
          class="rounded-3xl border-2 border-emerald-500 hover:bg-emerald-500 hover:text-white px-3 py-1 text-xs opacity-75 sm:text-sm "
          >french</span
        >
        <span
          class="rounded-3xl border-2 border-emerald-500 hover:bg-emerald-500 hover:text-white px-3 py-1 text-xs opacity-75 sm:text-sm "
          >spanish</span
        >
      </span>
    </p>

    <a
      href="/cv"
      class="btn w-full mt-8 bg-[--color-green-200] border-2 text-white hover:bg-emerald-500
             sm:w-48"
    >
      View CV
      <Icon name="tabler:arrow-narrow-right" class="h-5 w-5" />
    </a>
  </section>

  <!-- Mobile Experience -->
  <section
    class="my-20 flex flex-col items-center gap-8
           md:flex-row md:items-center"
  >
    <img
      src="/mobile.png"
      alt="Mobile Development"
      class="w-full max-w-sm md:max-w-md"
      style="background: transparent !important;"
    />

    <div class="space-y-4 text-center md:text-left">
      <p>
        Experience with end-to-end mobile development, from design and
        implementation to deployment.
      </p>

      <p>
        Proven experience with Agile Scrum and Kanban methodologies using Taiga
        and Jira.
      </p>

      <a
        href=""
        target="_blank"
        class="font-medium text-emerald-600 hover:text-emerald-500"
      >
        See more →
      </a>
    </div>
  </section>
</BaseLayout>
