---
import ThemeToggle from "@/components/ThemeToggle.astro";
---
<div
  class="w-full px-[10rem] py-[1rem]"
>
   <ul class="flex gap-4 mx-auto justify-center">
              <li><a class="text-base" id="home" href="/">Home</a></li>
              <li class="flex justify-end w-full">
                  <ThemeToggle />
              </li>
            </ul>
</div>